

.root {
    -fx-background-color: #1e1e1e;
    -fx-font-family: "Segoe UI";
    -fx-alignment: center;
}


.label {
    -fx-text-fill: white;
}

.titulo {
    -fx-font-size: 26px;
    -fx-font-weight: bold;
    -fx-text-fill: #4CAF50;
}



.vbox {
    -fx-alignment: center;
    -fx-spacing: 15;
    -fx-padding: 30;
}



.button {
    -fx-background-color: #2d2d2d;
    -fx-text-fill: white;
    -fx-font-size: 14px;
    -fx-background-radius: 10;
    -fx-padding: 10 20;
    -fx-cursor: hand;
    -fx-border-color: #4CAF50;
    -fx-border-radius: 10;
    -fx-min-width: 220px;
}

.button:hover {
    -fx-background-color: #4CAF50;
    -fx-text-fill: black;
}



.text-field {
    -fx-background-color: #2a2a2a;
    -fx-text-fill: white;
    -fx-prompt-text-fill: #aaaaaa;
    -fx-background-radius: 8;
    -fx-border-color: #4CAF50;
    -fx-border-radius: 8;
    -fx-padding: 8;
    -fx-min-width: 220px;
}



.card {
    -fx-background-color: #262626;
    -fx-background-radius: 15;
    -fx-padding: 25;
    -fx-spacing: 15;
    -fx-alignment: center;
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.4), 15, 0, 0, 5);
}
